footer {
  padding: var(--space-medium);
}

.footer-link {
  color: var(--color-white);
  background-color: var(--color-brown);
  padding: var(--space-small) var(--space-medium);
  border-radius: 5%;
}

footer a {
  color: var(--color-brown);
}

.social-icon {
  margin-right: var(--space-small);
}

.grid-footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  row-gap: var(--space-extra-big);
  margin: var(--space-extra-big) 0;
}
