/* About page */

#owner-image {
  border-radius: 200px;
  max-width: 100%;
  margin: auto;
}

.about-details {
  display: flex;
  flex-flow: row wrap;
}

/* Products page */

.product-section {
  margin-top: var(--space-extra-extra-big);
}
.product-grid {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin-top: var(--space-extra-big);
}

.product-item {
  display: flex;
  flex-direction: column;
}

.product-name {
  font-weight: 700;
  margin-top: var(--space-small);
  color: var(--color-pink);
}
