footer {
  padding: var(--space-medium);
}

.footer-link {
  color: var(--color-white);
  background-color: var(--color-brown);
  padding: var(--space-small) var(--space-small);
  border-radius: 5%;
}

/* Gap between social icon and link text*/
.social-icon {
  margin-right: var(--space-small);
}

.grid-footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  row-gap: var(--space-big);
  column-gap: var(--space-medium-small);
  margin: var(--space-extra-big) 0;
}
