/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Spectral:wght@400;700&display=swap");

/* HTML tags*/
body {
  margin: auto;
  max-width: 960px;
  font-family: "Nunito", sans-serif;
  font-size: var(--space-medium);
  color: var(--color-brown);
}

h1 {
  font-family: "Spectral", serif;
  color: var(--color-pink);
  font-weight: 700;
  margin: var(--space-small) 0;
  font-size: var(--space-extra-big);
}

h2 {
  font-size: var(--space-big);
  font-family: "Spectral", serif;
  color: var(--color-brown);
  font-weight: 700;
  margin: var(--space-small) 0;
}

a {
  font-family: "Nunito", sans-serif;
  font-size: var(--space-medium);
  color: var(--color-sea-green);
  text-decoration: underline;
  margin: var(--space-small) 0;
}
fbvfd img {
  margin: var(--space-medium) 0;
}

/* Classes */

.hero-image-section {
  display: grid;
  height: 100%;
}

.hero-image {
  max-width: 100%;
  max-height: 100vh;
}

.not-hero {
  padding: 0 var(--space-medium);
}

/* IDs */
